.ant-table-row td {
    padding: 0 !important;
  }

  .ant-table-thead .ant-table-cell {
    padding: 0 !important;
  }

  .ant-form-item-control-input {
    min-height: 20px !important;
    font-size: 12px;
  }
  
  .first-col-align {
    text-align: center;
  }

  .ant-table-wrapper .ant-table-filter-column {
    padding: 0 10px;
    text-align: center;
  }